$sidebarWidth: 23%;
$navbarHeight: 5rem;
$smallScreenSize: 970px;

@mixin small() {
  @media only screen and (max-width: $smallScreenSize) {
    @content;
  }
}

@mixin notSmall() {
  @media only screen and (min-width: $smallScreenSize) {
    @content;
  }
}
